.footer_container {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100vw;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  max-width: 300px;
  img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
  }
}

.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-right: 35px;

  .MuiSlider-root {
    color: #00ff00
  }
}

.footer_centre {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.shuffle, .repeat{
  color: #00ff00;
  transition: transform 200ms ease-in-out !important;
}

.icon {
  transition: transform 200ms ease-in-out !important;
}

.shuffle:hover, .repeat:hover, .icon:hover {
  transform: scale(1.2) !important;
}