.header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header_left {
  display: flex;
  align-items: center;
  flex: 0.5;
  min-width: 75px;
  background-color: #fff;
  color: #181818;
  padding: 10px;

  input {
    border: none;
    width: 100%;
  }

}

.header_right {
  display: flex;
  align-items: center;
  h4 {
    margin-left: 15px;
  }
}