@import "styles/login.scss";
@import "styles/player";
@import "styles/sidebar";
@import "styles/body";
@import "styles/footer";
@import "styles/header";

$green: #1db954;

body {
    margin: 0;
    font-family: "Roboto";
}
